USE [master]
GO
/****** Object:  Database [HOTEL_EVENTOS]    Script Date: 3/05/2026 21:17:26 ******/
CREATE DATABASE [HOTEL_EVENTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOTEL_EVENTOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HOTEL_EVENTOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOTEL_EVENTOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HOTEL_EVENTOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOTEL_EVENTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOTEL_EVENTOS]
GO
/****** Object:  User [appuser]    Script Date: 3/05/2026 21:17:26 ******/
CREATE USER [appuser] FOR LOGIN [appuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [appuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [appuser]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[telefono] [int] NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuarto]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuarto](
	[id_cuarto] [int] NOT NULL,
	[id_tipo_cuarto] [int] NULL,
	[id_estado] [int] NULL,
	[no_cuarto] [varchar](5) NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuarto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuarto_estado]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuarto_estado](
	[id_estado] [int] NOT NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuarto_reserva]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuarto_reserva](
	[id_cuarto_reser] [int] NOT NULL,
	[id_cuarto] [int] NULL,
	[id_reserva] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuarto_reser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[fecha_deposit] [datetime] NULL,
	[monto_deposit] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_reserva]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_reserva](
	[id_factura_reser] [int] NOT NULL,
	[id_factura] [int] NULL,
	[id_cuarto_reser] [int] NULL,
	[id_grupo_reser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura_reser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo](
	[id_grupo] [int] NOT NULL,
	[nom_grupo] [varchar](50) NULL,
	[nom_evento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupo_reserva]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupo_reserva](
	[id_grupo_reser] [int] NOT NULL,
	[id_reserva] [int] NULL,
	[id_grupo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo_reser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservaciones]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservaciones](
	[id_reserva] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[id_factura] [int] NULL,
	[id_cuarto] [int] NULL,
	[descripcion] [varchar](100) NULL,
	[fecha_entrada] [datetime] NULL,
	[fecha_salida] [datetime] NULL,
	[notas] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cuarto]    Script Date: 3/05/2026 21:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cuarto](
	[id_tipo_cuarto] [int] NOT NULL,
	[tipo_cuarto] [varchar](20) NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cuarto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuarto]  WITH CHECK ADD  CONSTRAINT [fk_cuarto_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[cuarto_estado] ([id_estado])
GO
ALTER TABLE [dbo].[cuarto] CHECK CONSTRAINT [fk_cuarto_estado]
GO
ALTER TABLE [dbo].[cuarto]  WITH CHECK ADD  CONSTRAINT [fk_cuarto_tipo] FOREIGN KEY([id_tipo_cuarto])
REFERENCES [dbo].[tipo_cuarto] ([id_tipo_cuarto])
GO
ALTER TABLE [dbo].[cuarto] CHECK CONSTRAINT [fk_cuarto_tipo]
GO
ALTER TABLE [dbo].[cuarto_reserva]  WITH CHECK ADD  CONSTRAINT [fk_cr_cuarto] FOREIGN KEY([id_cuarto])
REFERENCES [dbo].[cuarto] ([id_cuarto])
GO
ALTER TABLE [dbo].[cuarto_reserva] CHECK CONSTRAINT [fk_cr_cuarto]
GO
ALTER TABLE [dbo].[cuarto_reserva]  WITH CHECK ADD  CONSTRAINT [fk_cr_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[reservaciones] ([id_reserva])
GO
ALTER TABLE [dbo].[cuarto_reserva] CHECK CONSTRAINT [fk_cr_reserva]
GO
ALTER TABLE [dbo].[factura_reserva]  WITH CHECK ADD  CONSTRAINT [fk_fr_cuarto_reser] FOREIGN KEY([id_cuarto_reser])
REFERENCES [dbo].[cuarto_reserva] ([id_cuarto_reser])
GO
ALTER TABLE [dbo].[factura_reserva] CHECK CONSTRAINT [fk_fr_cuarto_reser]
GO
ALTER TABLE [dbo].[factura_reserva]  WITH CHECK ADD  CONSTRAINT [fk_fr_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[factura] ([id_factura])
GO
ALTER TABLE [dbo].[factura_reserva] CHECK CONSTRAINT [fk_fr_factura]
GO
ALTER TABLE [dbo].[factura_reserva]  WITH CHECK ADD  CONSTRAINT [fk_fr_grupo_reser] FOREIGN KEY([id_grupo_reser])
REFERENCES [dbo].[grupo_reserva] ([id_grupo_reser])
GO
ALTER TABLE [dbo].[factura_reserva] CHECK CONSTRAINT [fk_fr_grupo_reser]
GO
ALTER TABLE [dbo].[grupo_reserva]  WITH CHECK ADD  CONSTRAINT [fk_gr_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[grupo_reserva] CHECK CONSTRAINT [fk_gr_grupo]
GO
ALTER TABLE [dbo].[grupo_reserva]  WITH CHECK ADD  CONSTRAINT [fk_gr_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[reservaciones] ([id_reserva])
GO
ALTER TABLE [dbo].[grupo_reserva] CHECK CONSTRAINT [fk_gr_reserva]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [fk_reserva_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [fk_reserva_cliente]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [fk_reserva_cuarto] FOREIGN KEY([id_cuarto])
REFERENCES [dbo].[cuarto] ([id_cuarto])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [fk_reserva_cuarto]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [fk_reserva_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[factura] ([id_factura])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [fk_reserva_factura]
GO
USE [master]
GO
